.feedback-content {
  display: flex;
  align-items: center;
  justify-content: center;
}

.feedback {
  background-color:rgba(220,92,31);
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  width: 10rem;
  height: 35rem;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 10px;
  color: white;
  font-weight: 800;
}

.feedback button {
  background-color: rgba(248,175,11);
  border: solid black 1px;
  border-radius: 10px;
  color: white;
  font-weight: 800;
  height: 40px;
  margin-top: 10px;
  width: 100px;
}

.feedback button:hover {
  cursor: pointer;
}

.feedback button:hover {
  background-color: rgb(87, 86, 85);
  /* width: 63%; */
}

.none-display {
  display: none;
}
