.content-header header {
  background-color:rgba(220,92,31);
  display: flex;
  flex-direction: column;
  border-radius: 25px;
  position: fixed;
  padding: 30px;
  border-radius: 25px;
  box-shadow: 5px 8px black;
  border: 5px solid black;
  max-width: 100px;
}

.content-header h2 {
  text-align: center;
}

.cotent-header img {
  border-radius: 20px 0;
  max-width: 100px;
}
